<!--Inheriting the main template-->
{% extends 'main.html' %}

<!--Adding title-->
{% block title %}Confirm Delete{% endblock title %}

<!--block content start-->
{% block content %}

<!--block content start-->
<div>

    <!--Form for confirming deletion-->
    <form method = "POST" action = "">
        {% csrf_token %}
        <p>Are you sure you want to delete '{{ object }}'</p>
        <a href = "{{ request.META.HTTP_REFERER }}">Go back</a>
        <input type = "submit" value = "confirm" />
    </form>

<!--Main container div and block content end-->
</div>
{% endblock content %}
