<!--Inheriting the main template-->
{% extends 'main.html' %}

<!--Loading the static files-->
{% load static %}

<!--Adding title-->
{% block title %}Threadscape{% endblock title %}

<!--block content start-->
{% block content %}

<!--Importing the static files-->
<link rel="stylesheet" href="{% static 'base/home.css' %}" />

<!--Main container div start-->
<div class="home-container">
  <!--Topic component-->
  <div>{% include 'base/topics_component.html' %}</div>

  <!--Threads div start-->
  <div>
    <!--Thread count-->
    <h5>{{ thread_count }} threads available.</h5>

    <!--Link to create a new thread-->
    <a href="{% url 'create-thread' %}">Create Thread</a>

    <!-- Feed component -->
    {% include 'base/feed_component.html' %}

    <!--Threads div end-->
  </div>

  <!--Recent Activity component-->
  <div>{% include 'base/activity_component.html' %}</div>

  <!--Main container div and block content end-->
</div>
{% endblock content %}
