<!--Inheriting the main template-->
{% extends 'main.html' %}

<!--Adding title-->
{% block title %}Threadscape{% endblock title %}

<!--block content start-->
{% block content %}

<!--Main container div start-->
<div class = "home-container">

    <!--Side-bar container-->
    <div>

        <!--Heading-->
        <h3>Browse Topics</h3>
        <hr>

        <!--Iterating the topics and adding them dynamically-->
        {% for topic in topics %}
        <div>
            <a href = "{% url 'topic' topic.id %}"><span>{{ topic.name }}</span></a>
        </div>
        {% endfor %}

    <!--End of Side-bar div-->
    </div>

    <!--Threads div start-->
    <div>

        <!--Link to create a new thread-->
        <a  href = "{% url 'create-thread' %}">Create Thread</a>

        <!--Iterating the threads and adding them dynamically-->
        {% for thread in threads %}
        <div>
            <a href="{% url 'update-thread' thread.id %}"><span>Edit</span></a>
            <a href="{% url 'delete-thread' thread.id %}"><span>Delete</span></a>
            <span>@{{ thread.host.username }}</span>
            <h5>{{ thread.id }} - <a href="{% url 'thread' thread.id %}">{{ thread.name }}</a></h5>
            <small>{{ thread.topic.name }}</small>
            <hr>
        </div>
        {% endfor %}

    <!--Threads div end-->
    </div>


<!--Main container div and block content end-->
</div>
{% endblock content %}
