<!--Inheriting the main template-->
{% extends 'main.html' %}

<!--Loading the static files-->
{% load static %}

<!--Adding title-->
{% block title %}Login Page{% endblock title %}

<!--block content start-->
{% block content %}

<!--Main container div start-->
<div>
  <!-- Render login form if page is login -->
  {% if page == 'login' %}

  <!-- Login form div start -->
  <div>
    <!-- Form for user login -->
    <form method="POST" action="">
      <!-- CSRF Token -->
      {% csrf_token %}

      <!-- Username field -->
      <label>Username</label>
      <input type="text" name="username" placeholder="Enter username" />

      <!-- Password Field -->
      <label>Password</label>
      <input type="password" name="password" placeholder="Enter username" />

      <!-- Submit button to login -->
      <input type="submit" value="Login" />
    </form>

    <!-- Link to switch to register page -->
    <p>Haven't signed up yet?</p>
    <a href="{% url 'register' %}">Sign-up now!</a>

    <!-- Login form div end -->
  </div>

  <!-- Else render the registration page -->
  {% else %}

  <!-- Registration form div start-->
  <div>
    <!-- Form for user register -->
    <form method="POST" action="">
      <!-- CSRF Token -->
      {% csrf_token %}

      <!--Form for creating a thread-->
      {{ form.as_p }}

      <!-- Submit button to register -->
      <input type="submit" value="Register" />
    </form>

    <!-- Link to switch to register page -->
    <p>Already signed up?</p>
    <a href="{% url 'login' %}">Sign-in now!</a>

    <!-- Registration form div end -->
  </div>

  <!-- If block end -->
  {% endif %}

  <!--Main container div and block content end-->
</div>
{% endblock content %}
