<!--Inheriting the main template-->
{% extends 'main.html' %}

<!--Adding title-->
{% block title %}{{ thread.name }}{% endblock title %}

<!--block content start-->
{% block content %}

<!--Main container div start-->
<div>

    <!-- Thread title and description -->
    <h1>{{ thread.name }}</h1>
    <p>{{ thread.description }}</p>

    <!-- Comment div start -->
    <div class = "comment-wrapper">

        <!-- Conversation header -->
        <h3>Conversation</h3>
        <hr>

        <!-- Iterating the thread_messages and adding them dynamically -->
        {% for message in thread_messages %}
        <div>
            <small>@{{ message.user }} {{ message.created|timesince }} ago</small>
            <p>{{ message.body }}</p>
        </div>
        {% endfor %}

    </div>

<!--Main container div and block content end-->
</div>
{% endblock content %}
