<!--Inheriting the main template-->
{% extends 'main.html' %}

<!--Adding title-->
{% block title %}{{ mode }} Thread{% endblock title %}

<!--block content start-->
{% block content %}

<!--Main start-->
<main class="create-thread layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{% url 'home' %}">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"></path>
            </svg>
          </a>
          <h3>{{ mode }} Thread</h3>
        </div>
      </div>
      <div class="layout__body">
        <!--Form start-->
        <form method="POST" class="form" action="">
          <!--CSRF Token-->
          {% csrf_token %}

          <!--Topic field-->
          <div class="form__group">
            <label for="thread_topic">Enter Topic</label>
            <input
              name="topic"
              required="text"
              list="topic-list"
              autocomplete="off"
              value="{{ thread.topic.name }}" />
            <datalist id="topic-list">
              <select id="thread_topic">
                <!--Iterating the topics and adding them dynamically-->
                {% for topic in topics %}
                <option value="{{ topic.name }}">{{ topic.name }}</option>
                {% endfor %}
              </select>
            </datalist>
          </div>

          <!--Name field-->
          <div class="form__group">
            <label for="thread_name">Name</label>
            {{ form.name }}
          </div>

          <!--Description field-->
          <div class="form__group">
            <label for="thread_description"> Description</label>
            {{ form.description }}
          </div>

          <!--Cancel and Create / Update Thread buttons-->
          <div class="form__action">
            <a class="btn btn--dark" href="{{ request.META.HTTP_REFERER }}">
              Cancel
            </a>
            <button class="btn btn--dark" type="submit">
              {{ mode }} Thread
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<!--Main end-->

<!--Block content end-->
{% endblock content %}
