<!--Inheriting the main template-->
{% extends 'main.html' %}

<!--Adding title-->
{% block title %}Create Thread{% endblock title %}

<!--block content start-->
{% block content %}

<!--Main container div start-->
<div>

    <!--Form for creating a thread-->
    <form method = "POST", action = "">

        <!-- CSRF Token -->
        {% csrf_token %}

        <!-- Rendering the ThreadForm object -->
        {{ form.as_p }}

        <!-- Submit button to create / update -->
        <input type = "submit" value = "Submit" />
    </form>

<!--Main container div and block content end-->
</div>
{% endblock content %}
