<!--Inheriting the main template-->
{% extends 'main.html' %}

<!--Adding title-->
{% block title %}Topic - {{ topic.name }}{% endblock title %}

<!--block content start-->
{% block content %}

<!--Main container div start-->
<div>

    <!--Iterating the threads and adding them dynamically-->
    {% for thread in threads %}
    <div>
        <a href="{% url 'update-thread' thread.id %}"><span>Edit</span></a>
        <a href="{% url 'delete-thread' thread.id %}"><span>Delete</span></a>
        <span>@{{ thread.host.username }}</span>
        <h5>{{ thread.id }} - <a href="{% url 'thread' thread.id %}">{{ thread.name }}</a></h5>
        <small>{{ thread.topic.name }}</small>
        <hr>
    </div>
    {% endfor %}

<!--Main container div and block content end-->
</div>
{% endblock content %}
