<!--DOCUMENT INFO-->
<!DOCTYPE html>

<!--Loading the static files-->
{% load static %}

<!--Header and other imports-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/cursor.css' %}" />
    <title>{% block title %}Default Title{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="{% static 'scripts/script.js' %}" defer></script>
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon" />
  </head>

  <!--Body start-->
  <body>
    <!--Adding the navbar-->
    {% include 'navbar.html' %}

    <!--Code to display the flash messages-->
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <!--Block content to be overridden-->
    {% block content %} Default content {% endblock content %}

    <!--Toast component overlay to display toast notifications-->
    <div class="toast-overlay" id="toast-overlay"></div>

    <!--Cursor component for cursor trail effect-->
    <div class="cursor">
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
      <div class="cursor-circle"></div>
    </div>

    <!--End of Body and HTML-->
  </body>
</html>
